{% extends 'base.html' %}

{% block main %}
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#home"><img src="static/img/logo.png" alt=""></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#home">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#home">Home</a></li>
          <li><a href="#intro">Intro</a></li>
          <li class="menu-has-children"><a href="">Sudoku</a>
            <ul>
              <li><a href="{{url_for('upload')}}">Upload </a></li>
            </ul>
          <li  ><a href="{{url_for('guide')}}">Guide</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->

  <!-- ======= home Section ======= -->
  <section id="home">
    <div class="home-container">
      <h1>Welcome to Sudoku Solver Zone</h1>
      <h2>Upload the Sudoku image , and let the computer solve it for you.  </h2>
      <a href="#intro" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End home Section -->

  <main id="main">
    <!-- ======= Intro Section ======= -->
    <section id="intro">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Introduction</h3>
          <p class="section-description">
            Hi , Lets get started ...<br> the steps followed here are : Upload and confirm the extracted sudoku. Then enjoy solution with added customization. 
            <br>Read the Guide to avoid common errors occuring in upload and solution.
          </p>
        </div>
        <div class="row"></div>

        <div class="row" id="intro-wrapper">
          <div class="col-lg-3 col-md-6 intro-item filter-app">
            <a href="static/img/portfolio/app1.jpg" data-gall="portfolioGallery" class="venobox">
              <img src="static/img/portfolio/app1.jpg" alt="">
              <div class="details">
                <h4>Step 1</h4>
                <span>Upload the sudoku image</span>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 intro-item filter-web">
            <a href="static/img/portfolio/web2.jpg" data-gall="portfolioGallery" class="venobox">
              <img src="static/img/portfolio/web2.jpg" alt="">
              <div class="details">
                <h4>Step 2</h4>
                <span>Confirm the extracted sudoku image</span>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 intro-item filter-app">
            <a href="static/img/portfolio/app3.jpg" data-gall="portfolioGallery" class="venobox">
              <img src="static/img/portfolio/app3.jpg" alt="">
              <div class="details">
                <h4>step 3</h4>
                <span>Enjoy the solution</span>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 intro-item filter-card">
            <a href="static/img/portfolio/card1.jpg" data-gall="portfolioGallery" class="venobox">
              <img src="static/img/portfolio/card1.jpg" alt="">
              <div class="details">
                <h4>step 4</h4>
                <span>Customize the solution and play with it</span>
              </div>
            </a>
          </div>
  
        </div>
        <div class="row"><br></div>
        <div class="text-center">
          <a href="{{url_for('guide')}}"  class="btn-get-guide" role="button">Read Guide</a>
          <a href="{{url_for('upload')}}" class="btn-start-solve" role="button">Start Solving</a>
        </div>
    </section><!-- End Intro Section -->

    
    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Contact</h3>
          <p class="section-description">...Feel free to contact...</p>
        </div>
      </div>

      <!-- Uncomment below if you wan to use dynamic maps -->
      <!----
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
      -->
      <div class="container wow fadeInUp mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4" style="padding-left: 5%;">
            
            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>Chennai , India</p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p>ssidarth1999@gmail.com</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p>+91 9717723158</p>
              </div>
            </div>

            <div class="social-links" >
              <!-- <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> -->

              <a href="https://www.facebook.com/S.sidarth" class="facebook"><i class="fa fa-facebook"></i></a>
              <span style="padding-left: 15%; padding-right: 15%;">
                <a href="https://www.linkedin.com/in/sidarths" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </span>
              
              <a href="https://www.instagram.com/sidarth_16" class="instagram"><i class="fa fa-instagram"></i></a>
              <!-- <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a> -->
            </div>

          </div>

          <!-- <div class="col-lg-5 col-md-8">
            <div class="form">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% endblock %}
